extends layout

block content
  h1= title
  p Welcome to #{title}
  input#add-name(type='text' placeholder='New country')
      input(type='submit' value='Add')
    #spoiler(role='aria-hidden')
      form#saveEdit(action='javascript:void(0);' method='POST')
        input#edit-name(type='text')
        input(type='submit' value='Edit')
        a(onclick='CloseInput()' aria-label='Close') ✖
    p#counter
    table
      tbody
        tr
          th Name
      tbody#countries
